# Build files
.gradle
.kotlin
build

# IDE files
*.iml
.idea/*
!.idea/icon.svg
/captures

# Configuration files
keystore.properties
local.properties
*.jks
keystore_base64.txt

# macOS specific files
.DS_Store
